<% content_for(:html_title) { "パート編集" } %>
<div class="container">
    <div class="row">
    	<%= render 'events/event-header', event: @event, event_users: @event_users %>
		<div class="col-md-8 col-md-offset-2">
            <div class="form-user style-1 rounded has-shadow-1">
                <div class="form-header">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">歌詞確認画面</h2>
                    </div>
			    	<%= form_for @lyric,url:event_music_lyric_path(@event.friendly_url, @music, @lyric) do |f| %>
				    	<table class="table table-bordered">
				            <tbody>
				            	<tr>
				                    <th class="active">楽曲名</th>
				                    <td><%= @music.title %></td>
				                    <%= f.hidden_field :title, :value => @music.title %>
				                </tr>
				                <tr>
				                    <th class="active">アーティスト名</th>
				                    <td><%= @music.artist %></td>
				                    <%= f.hidden_field :artist, :value => @music.artist %>
				                </tr>
								<tr>
									<th class="active">パート分け</th>
									<td>
				            		<%= sanitize @lyric.lyric, attributes:  %w(id class href) %>
				                		<%= f.hidden_field :lyric, :value => @lyric.lyric %>
				                	</td>
				                	</div>
				                </tr>
				            </tbody>
				        </table>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
				    <%= f.submit "歌詞を編集する", class: "btn btn-lg btn-block btn-primary mt-20" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>