<% content_for(:html_title) { "パート分け登録" } %>
<div class="container">
    <div class="row">
    	<%= render 'events/event-header', event: @event, event_users: @event_users %>
    	<% if @lyrics.empty? %>
			<div class="col-md-8 col-md-offset-2">
	            <div class="form-user style-1 rounded has-shadow-1">
	                <div class="form-header">
	                    <div class="form-header text-center">
	                        <h2 class="form-header-title">新規パート分け作成</h2>
	                    </div>
				    	<%= form_for @lyric,url:event_music_lyric_new_confirm_path(@event.friendly_url, @music) do |f| %>
					    	<table class="table table-bordered">
					            <tbody>
					            	<tr>
					                    <th class="active">楽曲名</th>
					                    <td><%= @music.title %></td>
					                    <%= f.hidden_field :title, :value => @music.title %>
					                </tr>
					                <tr>
					                    <th class="active">アーティスト名</th>
					                    <td><%= @music.artist %></td>
					                    <%= f.hidden_field :artist, :value => @music.artist %>
					                </tr>
									<tr>
					            		<div class="field">
					                	<th class="active"><%= f.label :lyric %></th>
					                	<td>
					                		<%= f.hidden_field :lyric, size: "20x100", id: :article_text %>
											<trix-editor input="article_text"></trix-editor>
					                	</td>
					                	</div>
					                </tr>
					            </tbody>
					        </table>
					    <%= f.hidden_field :user_id, :value => current_user.id %>
					    <%= f.submit "歌詞を追加する", class: "btn btn-lg btn-block btn-primary mt-20" %>
						<% end %>
					</div>
				</div>
			</div>
		<% else %>
	    	<ul class="nav nav-tabs">
				<li class="active"><a href="#ContentA" data-toggle="tab">パート分け選択</a></li>
				<li><a href="#ContentB" data-toggle="tab">パート分け新規作成</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="ContentA">
					<div class="col-md-8 col-md-offset-2">
			            <div class="form-user style-1 rounded has-shadow-1">
							<div class="form-user style-1 rounded has-shadow-1">
				                <div class="form-header">
				                    <div class="form-header text-center">
				                        <h2 class="form-header-title">パート分け選択</h2>
				                    </div>
							    	<%= form_for @music,url:event_music_lyric_select_confirm_path(@event.friendly_url, @music) do |f| %>
								    	<table class="table table-bordered">
								            <tbody>
								            	<tr>
								                    <th class="active">楽曲名</th>
								                    <td><%= @music.title %></td>
								                </tr>
								                <tr>
								                    <th class="active">アーティスト名</th>
								                    <td><%= @music.artist %></td>
								                </tr>
												<tr>
								                	<th class="active"><%= f.label :lyric_id %></th>
								                	<td>
														<%= f.select :lyric_id, @lyrics.map { |lyric| ["#{lyric.created_at} by #{lyric.user.name}", lyric.id] } %>

								                	</td>
								                </tr>
								            </tbody>
								        </table>
								    <%= f.submit "歌詞を登録する", class: "btn btn-lg btn-block btn-primary mt-20" %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade in" id="ContentB">
					<div class="col-md-8 col-md-offset-2">
			            <div class="form-user style-1 rounded has-shadow-1">
			                <div class="form-header">
			                    <div class="form-header text-center">
			                        <h2 class="form-header-title">新規パート分け作成</h2>
			                    </div>
						    	<%= form_for @lyric,url:event_music_lyric_new_confirm_path(@event.friendly_url, @music) do |f| %>
							    	<table class="table table-bordered">
							            <tbody>
							            	<tr>
							                    <th class="active">楽曲名</th>
							                    <td><%= @music.title %></td>
							                    <%= f.hidden_field :title, :value => @music.title %>
							                </tr>
							                <tr>
							                    <th class="active">アーティスト名</th>
							                    <td><%= @music.artist %></td>
							                    <%= f.hidden_field :artist, :value => @music.artist %>
							                </tr>
											<tr>
							            		<div class="field">
							                	<th class="active"><%= f.label :lyric %></th>
							                	<td>
							                		<%= f.hidden_field :lyric, size: "20x100", id: :article_text %>
													<trix-editor input="article_text"></trix-editor>
							                	</td>
							                	</div>
							                </tr>
							            </tbody>
							        </table>
							    <%= f.hidden_field :user_id, :value => current_user.id %>
							    <%= f.submit "歌詞を追加する", class: "btn btn-lg btn-block btn-primary mt-20" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>