<% content_for(:html_title) { "歌詞登録確認" } %>
<div class="container">
    <div class="row">
    	<%= render 'events/event-header', event: @event, event_users: @event_users %>
		<div class="col-md-8 col-md-offset-2">
            <div class="form-user style-1 rounded has-shadow-1">
                <div class="form-header">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">パート分け登録確認画面</h2>
                    </div>
			    	<%= form_for @music, url:event_music_path(@event.friendly_url, @music, name:"lyric") do |f| %>
				    	<table class="table table-bordered">
				            <tbody>
				            	<tr>
				                    <th class="active">楽曲名</th>
				                    <td><%= @music.title %></td>
				                </tr>
				                <tr>
				                    <th class="active">アーティスト名</th>
				                    <td><%= @music.artist %></td>
				                </tr>
								<tr>
									<th class="active">パート分け</th>
									<td>
				            		<%= sanitize @music.lyric.lyric, attributes:  %w(id class href) %>
				                		<%= f.hidden_field :lyric_id, :value => @lyric.id %>
				                	</td>
				                	</div>
				                </tr>
				            </tbody>
				        </table>
				    <%= f.submit "パート分けを登録する", class: "btn btn-lg btn-block btn-primary mt-20" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>