<div class="table-responsive">
	<table class="table table-bordered" style="table-layout:fixed;">
		<thead>
			<tr>
				<th class="active" style="width:100px;">曲名</th>
				<th class="active" style="width:100px;">アーティスト名</th>
				<% parts.each do |part| %>
					<th class="active" style="width:80px;"><%= part.part_name %></th>
				<% end %>
			</tr>
			<% n = 0 %> <!-- エントリーモーダルのID用に初期値を設定 -->
			<% musics.each do |music| %>
			<tr>
				<th>
					<div class="align-middle">
					<%= link_to "#{music.title}", event_music_path(event.friendly_url, music.id) %>
					</div>
				</th>
				<td>
					<%= music.artist %>
				</td>
				<% parts.each do |part| %>
					<td>
					<!-- パートが不要な時 -->
					<% if entry_tables.find_by(music_id: music, part_id: part)&.requirement_status == "不要" %>
					<!-- エントリーステータスが必須の時 -->
					<% elsif entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "必須" %>
						<!-- 楽曲にユーザーがエントリーしていない時 -->
						<% if entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
							<!-- 時系列処理 -->
							<% if now < event.entry_finish_time %>
								<a class="link" data-toggle="modal" data-target="#adminentryModal<%= n %>">エントリー</a>
								<%= render 'admin/entry_tables/modal_adminentry', event: event, music: music, part: part, n: n %>
								<% n = n + 1 %> <!-- エントリーモーダルのIDを更新 -->
							<% elsif now >= event.entry_finish_time %>
								受付終了
							<% end %>
						<!-- 楽曲にユーザーがエントリーしている時 -->
						<% else %>
							<%= link_to "#{entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
                            <%= link_to admin_event_entry_table_path(event, music_id: music, part_id: part, name: "cancel"), method: :patch, data: {confirm: "本当にエントリーを取り消してもよろしいですか？"} do %>
                                	<i class="fas fa-times-circle"></i>
							<% end %>
						<% end %>
					<!-- エントリーステータスが任意の時 -->
					<% elsif entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "任意" %>
						<!-- 楽曲にユーザーがエントリーしていない時 -->
						<% if entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
							<% if now < event.entry_finish_time %>
								<a class="link" data-toggle="modal" data-target="#adminentryModal<%= n %>">(エントリー)</a>
								<%= render 'admin/entry_tables/modal_adminentry', event: event, music: music, part: part, n: n %>
								<% n = n + 1 %> <!-- エントリーモーダルのIDを更新 -->
							<% elsif now >= event.entry_finish_time %>
								受付終了
							<% end %>
						<!-- 楽曲にユーザーがエントリーしている時 -->
						<% else %>
							<%= link_to "#{entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
                            <%= link_to admin_event_entry_table_path(event, music_id: music, part_id: part, name: "cancel"), method: :patch, data: {confirm: "本当にエントリーを取り消してもよろしいですか？"} do %>
                                	<i class="fas fa-times-circle"></i>
                            <% end %>
						<% end %>
					<% end %>
				</td>
				<% end %>
				</tr>
			<% end %>
		</thead>
	</table>
</div>