<% content_for(:html_title) { "イベント新規作成" } %>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-user style-1 rounded has-shadow-1">
                <div class="form-header">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">イベント新規作成</h2>
                    </div>
                    <%= form_for(@event, url: admin_new_confirm_path) do |f| %>
                    <%= render 'layouts/error_messages', model: f.object %>
                    <table class="table table-bordered">
                      	<tbody>
                            <tr>
	                            <th class="active"><%= f.label :event_name %></th>
	                            <td><%= f.text_field :event_name, size: 70, :placeholder => "イベント名" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :friendly_url %></th>
	                        	<td><%= f.text_field :friendly_url, size: 70, :placeholder => "URL" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :date %></th>
	                        	<td><%= f.text_field :date, size: 70, :placeholder => "日付", data: { date_format: 'YYYY-MM-DD'}, class:"datepicker" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :meeting_time %></th>
	                        	<td><%= f.text_field :meeting_time, size: 70, :placeholder => "集合時間", data: { date_format: 'HH:mm'}, class:"datepicker" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :start_time %></th>
	                        	<td><%= f.text_field :start_time, size: 70, :placeholder => "開始時間", data: { date_format: 'HH:mm'}, class:"datepicker" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :finish_time %></th>
	                        	<td><%= f.text_field :finish_time, size: 70, :placeholder => "終了時間", data: { date_format: 'HH:mm'}, class:"datepicker" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :entry_start_time %></th>
	                        	<td><%= f.text_field :entry_start_time, size: 70, :placeholder => "エントリー開始時間", data: { date_format: 'YYYY-MM-DD HH:mm'}, class:"datepicker" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :entry_finish_time %></th>
	                        	<td><%= f.text_field :entry_finish_time, size: 70, :placeholder => "エントリー終了時間", data: { date_format: 'YYYY-MM-DD HH:mm'}, class:"datepicker" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :place %></th>
	                        	<td><%= f.text_field :place, size: 70, :placeholder => "場所" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :place_url %></th>
	                        	<td><%= f.text_field :place_url, size: 70, :placeholder => "開催場所URL" %></td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :performance_fee %></th>
	                        	<td><%= f.text_field :performance_fee, size: 10, :placeholder => "演奏参加費" %>円</td>
	                        </tr>
	                        <tr>
	                        	<th class="active"><%= f.label :visit_fee %></th>
	                        	<td><%= f.text_field :visit_fee, size: 10, :placeholder => "見学参加費" %>円</td>
	                        </tr>
	                        <tr>
                                <th class="active"><%= f.label :image %></th>
                                <td><%= attachment_image_tag @event, :image, id: "image_preview", fallback: "no_image.jpg", height: "300", class:"img-thumbnail" %>
                                	<%= f.attachment_field :image, onchange: "previewFile()" %></td>
                        	</tr>
                        	<tr>
                                <th class="active"><%= f.label :parts, "パート" %></th>
	                            <td>
								    <%= f.fields_for :parts do |p| %>
								        <%= render "part_fields", f: p %>
								    <% end %>
							        <div class="links">
							            <%= link_to_add_association ">>パートを追加", f, :parts, class:"btn btn-sm btn-primary" %>
							        </div>
								</td>
                        	</tr>
	                    </tbody>
	                </table>
	                <div class="form-header text-center">
                        <h2 class="form-header-title">打ち上げ</h2>
                    </div>
                    <%= f.fields_for :after_party do |ap| %>
	                	<%= render "after_party", f: ap %>
	                <% end %>

	                <div class="actions">
                      <%= f.submit '確認画面', class:"btn btn-primary btn-block" %>
                    </div>
                  <% end %>
	            </div>
	        </div>
	    </div>
	</div>
</div>