<h2><%= @event.event_name %><br></h2>
<%= @event.date %><br>
<%= @event.start_time %>〜<%= @event.finish_time %><br>
<br>
概要：<%= @event.overview %><br>
集合時間：<%= @event.meeting_time %><br>
場所：<%= @event.place %><br>
URL:<%= @event.place_url %><br>
演奏参加費：<%= @event.performance_fee %><br>
見学参加費：<%= @event.visit_fee %><br>

<%= link_to "参加者一覧", admin_event_event_users_path(@event.id) %>

<br>
<h3>楽曲一覧</h3>
<br>
<h4>成立曲</h4>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>曲名</th>
				<th>アーティスト名</th>
				<% @parts.each do |part| %>
					<th><%= part.part_name %></th>
				<% end %>
			</tr>
			<% @complete_musics.each do |music| %>
			<tr>
				<th>
					<%= link_to event_music_path(@event.id, music.id) do %><%= music.title %><% end %>
				</th>
				<td>
					<%= music.artist %>
				</td>
				<% @parts.each do |part| %>
					<td>
						<% if @entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "不要" %>
						<!-- 空欄 -->
						<% elsif @entry_tables.find_by(music_id: music.id, part_id: part.id)&.event_user_id == nil %>
								(エントリー)
						<% else %>
							<%= link_to admin_user_path(@entry_tables.find_by(music_id: music.id, part_id: part.id).event_user.user.id) do %>
								<%= @entry_tables.find_by(music_id: music.id, part_id: part.id)&.event_user&.user&.name %>
							<% end %>
						<% end %>
					</td>
				<% end %>
				</tr>
			<% end %>
		</thead>
	</table>
</div>
<br>
<h4>未成立曲</h4>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>曲名</th>
				<th>アーティスト名</th>
				<% @parts.each do |part| %>
					<th><%= part.part_name %></th>
				<% end %>
			</tr>
			<% @incomplete_musics.each do |music| %>
			<tr>
				<th>
					<%= link_to event_music_path(@event.id, music.id) do %><%= music.title %><% end %>
				</th>
				<td>
					<%= music.artist %>
				</td>
				<% @parts.each do |part| %>
					<td>
						<% if @entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "不要" %>
						<!-- 空欄 -->
						<% elsif @entry_tables.find_by(music_id: music.id, part_id: part.id)&.event_user_id == nil %>
							<% if @entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "任意" %>
								(エントリー)
							<% elsif @entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "必須" %>
								エントリー
							<% end %>
						<% else %>
							<%= link_to admin_user_path(@entry_tables.find_by(music_id: music.id, part_id: part.id).event_user.user.id) do %>
								<%= @entry_tables.find_by(music_id: music.id, part_id: part.id)&.event_user&.user&.name %>
							<% end %>
						<% end %>
					</td>
				<% end %>
			<% end %>
			</tr>
		</thead>
	</table>
</div>

<%= link_to "曲を追加する", new_event_music_path(@event.id), class: "btn btn-primary col-lg-12" %>

<%= link_to "イベントを編集する", edit_admin_event_path(@event.id), class: "btn btn-warning col-lg-12" %>