<div class="container">
    <div class="row">
    	<div class="clearfix">
			<div class="col-xs-12">
				<div class="event-header">
					<h2><%= link_to "#{@event.event_name}", event_path(@event) %>
						<p class="pull-right">管理者</p>
					</h2>
					<%= @event.date.to_s(:date) %> (<%= @event.start_time.to_s(:time) %>〜<%= @event.finish_time.to_s(:time) %>)
					<br><br>
				</div>
			</div>
		</div>
		<div class="event-container">
			<div class="col-xs-3">
				<div class="text-center">
				<%= attachment_image_tag @event, :image, size: "200x200", format: 'jpeg', fallback: "no_image.jpg", class:"img-thumbnail" %>
				</div>
			</div>
			<div class="col-xs-9">
				<table class="table table-bordered">
					<tbody>
					    <tr>
					        <th class="active text-right">会場</th>
					        <td><%= link_to "#{@event.place}", @event.place_url %></td>
					    </tr>
					    <tr>
					        <th class="active text-right">集合時間</th>
					        <td><%= @event.meeting_time.to_s(:time) %></td>
					    </tr>
					    <tr>
					        <th class="active text-right">演奏時間</th>
					        <td><%= @event.start_time.to_s(:time) %>〜<%= @event.finish_time.to_s(:time) %></td>
					    </tr>
					    <tr>
					        <th class="active text-right">参加費</th>
					        <td>演奏参加：<%= @event.performance_fee %>円　見学参加：<%= @event.visit_fee %>円</td>
					    </tr>
					    <tr>
					        <th class="active text-right">打ち上げ会場</th>
					        <td><%= link_to "#{@event.after_party.party_place}", @event.after_party.party_url %></td>
					    </tr>
					</tbody>
				</table>
				<div class="text-right">
					<%= link_to event_party_path(@event.friendly_url), class:"btn btn-lg btn-warning" do %>
						<i class="fas fa-beer icon_custom,"></i> 打ち上げ詳細
					<% end %>
					<%= link_to admin_event_event_users_path(@event.friendly_url), class:"btn btn-lg btn-info" do %>
						<i class="fas fa-users"></i> 参加者一覧
					<% end %>
				</div>
			</div>
		</div>

		<div class="clearfix">
		</div>

		<div class="col-xs-12">
		 	<div class="panel panel-default">
		    	<div class="panel-heading">イベント概要</div>
		    	<div class="panel-body">
		    		<%= sanitize @event.overview, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %>
				</div>
			</div>
		</div>

		<h3>楽曲一覧</h3>
		<br>
		<h4>成立曲 (<%= @complete_musics.count %>曲)</h4>
		<%= render 'admin/entry_tables/adminentrytable', parts: @parts, event: @event, entry_tables: @entry_tables, event_users: @event_users, musics: @complete_musics %>

		<br>
		<h4>未成立曲 (<%= @incomplete_musics.count %>曲)</h4>
		<%= render 'admin/entry_tables/adminentrytable', parts: @parts, event: @event, entry_tables: @entry_tables, event_users: @event_users, musics: @incomplete_musics %>
		<% if user_signed_in? && @event_users.where(user_id: current_user.id).presence %>
			<%= link_to new_event_music_path(@event.friendly_id), class: "btn btn-lg btn-primary btn-block" do %>
			<i class="fas fa-plus-circle icon_custom"></i> 曲を追加する
			<% end %>
		<% end %>
		<br>
	</div>
</div>