<% content_for(:html_title) { "#{@event.event_name}タイムテーブル作成" } %>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container">
    <div class="row">
    	<div class="form-header text-center">
            <h2 class="form-header-title">
            	<%= @event.event_name %>タイムテーブル</h2>
        </div>
		<div class="table-responsive">
			<table class="table table-bordered" style="table-layout:fixed;">
				<thead>
					<tr class="info">
						<th class="active" style="width:100px;">曲名</th>
						<th class="active" style="width:100px;">アーティスト名</th>
						<% @parts.each do |part| %>
							<th class="active" style="width:80px;"><%= part.part_name %></th>
						<% end %>
					</tr>
				</thead>
				<tbody id="sortable">
					<% @musics.each do |music| %>
					<tr>
						<th>
							<div>
							<%= link_to "#{music.title}", event_music_path(@event.friendly_url, music.id) %>
							</div>
						</th>
						<td>
							<%= music.artist %>
						</td>
						<% @parts.each do |part| %>
							<!-- パートが不要な時 -->
							<% if @entry_tables.find_by(music_id: music, part_id: part)&.requirement_status == "不要" %>
							<td>　</td>
							<!-- エントリーステータスが必須または任意の時 -->
							<% else %>
								<!-- 楽曲にユーザーがエントリーしていない時 -->
								<% if @entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
									<td>　</td>
								<!-- 楽曲にエントリーしているユーザーが本人の時 -->
								<% elsif @entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user == current_user %>
									<td class="danger">
										<%= link_to "#{@entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(@entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
									</td>
								<!-- 楽曲にユーザーがエントリーしている時 -->
								<% else %>
									<td>
									<%= link_to "#{@entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(@entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
									</td>
								<% end %>
							<% end %>
						<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= hidden_field_tag :event_id, @event.id %>
			<%= form_for @event, url: admin_event_path(@event), method: :patch do |f| %>
				公開設定：<%= f.select :timetable_releace, {公開: 1, 非公開: 0}, onchange:"submit(this.form)" %>
			<%= f.submit "購入を確定する", class:"btn btn-primary btn-lg center-block" %>
			<% end %>

			<%= link_to "公開", admin_event_timetable_releace_path(@event.friendly_url), method: :patch %>

		</div>
	</div>
</div>