<% content_for(:html_title) { "新規掲示板作成" } %>
<div class="container">
    <div class="row">
    	<div class="clearfix">
        <%= render 'events/event-header', event: @event, event_users: @event_users %>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-user style-1 rounded has-shadow-1">
                <div class="form-header">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">新規掲示板</h2>
                    </div>
                    <%= form_for [@event, @event_thread], url: event_threads_confirm_path(@event.friendly_id) do |f| %>
                    <%= render 'layouts/error_messages', model: f.object %>
                    <table class="table table-bordered">
                      	<tbody>
                            <tr>
	                            <th class="active"><%= f.label :title %></th>
	                            <td><%= f.text_field :title,:placeholder => "タイトル" %></td>
	                        </tr>
	                        <div class="field">
	                        	<th class="active"><%= f.label :body %></th>
	                        	<td>
	                        		<%= f.hidden_field :body, size: "20x100", id: :article_text %>
									<trix-editor input="article_text"></trix-editor>
	                        	</td>
	                        </div>
	                    </tbody>
	                </table>
	                <div class="actions">
	                	<%= f.hidden_field :user_id, :value => current_user.id %>
	                	<%= f.hidden_field :event_id, :value => @event.id %>
                      <%= f.submit '確認画面', class:"btn btn-primary btn-block" %>
                    <br>
                    </div>
                  <% end %>
	            </div>
	        </div>
	    </div>
	</div>
</div>