<% content_for(:html_title) { "#{@event_thread.title}" } %>
<div class="container">
    <div class="row">
        <div class="clearfix">
        <%= render 'events/event-header', event: @event, event_users: @event_users %>
        <br>
        <%= render 'event_threads/thread_index', event: @event, event_threads: @event_threads %>
        </div>

        <div class="col-xs-12 clearfix">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= @event_thread.title %>
                        <span>
                            <% if @event_thread.user == current_user %>
                                  <%= link_to "削除", event_event_thread_path(@event,@event_thread), method: :delete, class: " pull-right", data: {confirm: "この掲示板を本当に削除してもよろしいですか？"} %>
                            <% end %>
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="voice-img" >
                        <%= attachment_image_tag @event_thread.user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'60x60', class:"img-circle" %><br>
                        <div class="voice-img-description">
                            <%= link_to "#{@event_thread.user.name}", user_path(@event_thread.user_id) %>
                        </div>
                    </div>
                    <div class="voice">
                        <div class="voice-text">
                            <%=safe_join(@event_thread.body.split("\n"),tag(:br))%><br>
                        </div>
                        <div class="comment-datetime">
                            <%= @event_thread.created_at.to_s(:datetime) %>
                        </div>
                    </div><br>
                    <% @event_thread_comments.each do |event_thread_comment| %>
                        <div class="voice-img" >
                            <%= attachment_image_tag event_thread_comment.user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'60x60', class:"img-circle" %><br>
                            <div class="voice-img-description">
                                <%= link_to "#{event_thread_comment.user.name}", user_path(event_thread_comment.user_id) %>
                            </div>
                        </div>
                        <div class="voice">
                            <div class="voice-text">
                                <%= safe_join(event_thread_comment.comment.split("\n"),tag(:br))%>
                            </div>
                            <div class="comment-datetime">
                                <% if event_thread_comment.user == current_user %>
                                    <%= link_to "削除", event_event_thread_event_thread_comment_path(@event,@event_thread,event_thread_comment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
                                <% end %>
                                <%= event_thread_comment.created_at.to_s(:datetime) %>
                            </div>
                        </div><br>
                        <span class="comment-score"><% event_thread_comment&.score %></span>
                    <% end %>
                    <% if user_signed_in? && @event_users.where(user_id: current_user.id).presence %>
                        <%= form_for [@event, @event_thread, @event_thread_comment] do |f| %>
                            <%= render 'layouts/error_messages', model: f.object %>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
                                    </div>
                                </div>
                            <%= f.submit "送信する", class: "btn btn-lg btn-primary pull-right" %>
                        <% end %>
                    <% end %>
                </div>
        	</div>
        </div>
    </div>
</div>