<div class="col-xs-10 col-xs-offset-1">
	<table class="table table-bordered">
	<tbody>
	    <tr>
	        <th class="active">打ち上げ会場</th>
	        <td><%= link_to event.after_party.party_url do %><%= event.after_party.party_place %><% end %></td>
	    </tr>
	    <tr>
	        <th class="active">会場住所</th>
	        <td>〒<%= after_party.party_postalcode %><br>
	        	<%= after_party.party_address %>
	        </td>
	    </tr>
	    <tr>
	        <th class="active">演奏時間</th>
	        <td><%= event.start_time %>〜<%= event.finish_time %></td>
	    </tr>
	    <tr>
	        <th class="active">打ち上げ参加費</th>
	        <td><%= after_party.party_fee %>円</td>
	    </tr>
	</tbody>
</table>

<%= simple_format after_party.party_overview %><br>

	<div class="pull-left member_list round_border">
		参加(<%= event_users.where(party_participate: 1).count %>名)
		<%= link_to "参加に変更", event_event_user_path(after_party.event_id, event_user.id, participate: "attendance"), method: :patch, class:"btn btn-primary" %><br>
		<ul>
			<% event_users.where(party_participate: 1).each do |event_user| %>
				<li>
					<%= link_to user_path(event_user.user.id) do %>
						<%= attachment_image_tag event_user.user, :image, size: "20x20", format: 'jpeg', fallback: "no_image.jpg", class:"img-circle" %><%= event_user.user.name %><br>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="pull-left member_list round_border">
		検討中(<%= event_users.where(party_participate: 2).count %>名)
		<%= link_to "検討中に変更", event_event_user_path(after_party.event_id, event_user.id, participate: "under_review"), method: :patch, class:"btn btn-warning" %><br>
		<ul>
			<% event_users.where(party_participate: 2).each do |event_user| %>
				<li>
					<%= link_to user_path(event_user.user.id) do %>
						<%= attachment_image_tag event_user.user, :image, size: "20x20", format: 'jpeg', fallback: "no_image.jpg", class:"img-circle" %><%= event_user.user.name %><br>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="pull-left member_list round_border">
		不参加(<%= event_users.where(party_participate: 0).count %>名)
		<%= link_to "不参加に変更", event_event_user_path(after_party.event_id, event_user.id, participate: "absence"), method: :patch, class:"btn btn-danger" %><br>
		<ul>
			<% event_users.where(party_participate: 0).each do |event_user| %>
				<li>
					<%= link_to user_path(event_user.user.id) do %>
						<%= attachment_image_tag event_user.user, :image, size: "20x20", format: 'jpeg', fallback: "no_image.jpg", class:"img-circle" %><%= event_user.user.name %><br>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>