<h2><%= @after_party.event_id %>回打ち上げ<br></h2>
<%= @after_party.party_place %><br>
<%= @after_party.party_postalcode %><br>
<%= @after_party.party_address %><br>
<%= @after_party.party_overview %><br>
<%= @after_party.party_fee %><br>
<%= @after_party.party_url %><br>

<h3>参加者一覧</h3>
打ち上げ出席率：<%= @event_users.where(party_participate: 1).count * 100 / @event_users.count %>%<br>
<table class="table">
	<tbody>
		<tr>
			<% if @event_users.where(user_id: current_user.id).empty? %>
				<td>参加</td>
				<td>検討中</td>
				<td>不参加</td>
			<% else%>
				<td>
					<%= link_to "参加", event_event_user_path(@after_party.event_id, @event_user.id, participate: "attendance"), method: :patch, class:"btn btn-primary" %>
				</td>
				<td><%= link_to "検討中", event_event_user_path(@after_party.event_id, @event_user.id, participate: "under_review"), method: :patch, class:"btn btn-warning" %>
				</td>
				<td><%= link_to "不参加", event_event_user_path(@after_party.event_id, @event_user.id, participate: "absence"), method: :patch, class:"btn btn-danger" %>
				</td>
			<% end %>
		</tr>
		<tr>
			<td><% @event_users.where(party_participate: 1).each do |event_user| %>
					<%= event_user.user.name %><br>
				<% end %>
			</td>
			<td><% @event_users.where(party_participate: 2).each do |event_user| %>
					<%= event_user.user.name %><br>
				<% end %>
			</td>
			<td><% @event_users.where(party_participate: 0).each do |event_user| %>
					<%= event_user.user.name %><br>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>