<h2><%= @after_party.event_id %>回目打ち上げ<br></h2>
<%= @after_party.party_place %><br>
<%= @after_party.party_postalcode %><br>
<%= @after_party.party_address %><br>
<%= @after_party.party_overview %><br>
<%= @after_party.party_fee %><br>
<%= @after_party.party_url %><br>