<% content_for(:html_title) { "新規ユーザー登録" } %>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-user style-1 rounded has-shadow-1">
                <div class="form-header">
                  <div class="form-header text-center">
                    <h2 class="form-header-title">新規ユーザー登録</h2><br>
                  </div>
                  <%= form_for @user, url: user_twitter_update_path(@user.id) do |f| %>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th class="active"><%= f.label :name, "名前" %></th>
                          <td><%= f.text_field :name, autofocus: true, size:40,  :placeholder => "名前" %></td>
                        </tr>
                        <tr>
                            <th class="active"><%= f.label :email %></th>
                            <td><%= f.email_field :email, autofocus: true, size:40, :placeholder => "メールアドレスを入力してください。" %></td>
                        </tr>
                        <tr>
                            <th class="active"><%= f.label :image, "イメージ" %></th>
                            <td><%= attachment_image_tag @user, :image, id: "image_preview", fallback: "no_image.jpg", height: "300", class:"img-thumbnail" %>
                            <%= f.attachment_field :image, onchange: "previewFile()" %>
                            </td>
                        </tr>
                        <tr>
                          <th class="active"><%= f.label :introduction, "自己紹介" %></th>
                          <td><%= f.text_area :introduction, size: "20x10", class: "form-control", autofocus: true, :placeholder => "自己紹介" %></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="actions">
                      <%= f.submit '登録を完了する', class:"btn btn-primary btn-block" %>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>