<div class="clearfix">
	<div class="col-xs-12">
		<div class="event-header">
			<h2><%= link_to "#{event.event_name}", event_path(event) %>
					<% if user_signed_in? %>
					    <% if event.finish_time < Time.current %>
					    	<p class="pull-right">終了</p>
					    <% elsif event_users.where(user_id: current_user.id).empty? %>
						<%= link_to "参加する！", event_confirm_path(event.friendly_url), class: "btn btn-lg btn-primary pull-right"%>
						<% else %>
							<p class="pull-right">参加中</p>
						<% end %>
					<% else %>
						<div class="btn btn-lg btn-primary pull-right">
							<a class="link" data-toggle="modal" data-target="#loginModal" style="color:white;">参加する！</a>
						</div>
					<% end %>
				</h2>
			<%= event.date.to_s(:date) %> (<%= event.start_time.to_s(:time) %>〜<%= event.finish_time.to_s(:time) %>)
			<br><br>
		</div>
	</div>
</div>
<%= render 'homes/modal_signin' %>