<% content_for(:html_title) { "#{@event.event_name}参加確認" } %>
<div class="container">
    <div class="row">
    	<%= render 'events/event-header', event: @event, event_users: @event_users %>
		<h2><%= @event.event_name %>参加確認画面</h2>
		<%= form_with(model: @event_user, local: true, url: event_event_users_path ) do |f| %>
				<%= render 'layouts/error_messages', model: f.object %>
			<br>
			参加にあたってのご注意にご同意いただき、パートを選択してください。<br>
			<br>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">注意事項</h4>
				</div>
				<div class="panel-body">
					<h4>イベント参加に関する注意</h4>
					・開催日近くのキャンセルは他の参加者に迷惑がかかります。確実に予定を押さえた上で登録しましょう。<br>
					・キャンセルされた場合、スタジオ代の請求、今後の参加制限などの可能性がありますのでご了承ください。<br>
					・選択したパートと異なるパートへのエントリーを主目的とした参加登録は原則お控えください。<br>
					<br>
				</div>
			</div>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.hidden_field :event_id, value: @event.id %>
				<h4>参加パート：<%= f.select :part_table_id, @part_tables.map { |part_table| [part_table.part_name, part_table.id] }, {include_blank: '選択してください'} %></h4><br>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title"><%= @event.event_name %>打ち上げについて</h4>
				</div>
				<div class="panel-body">
					<%= render 'after_parties/after_party', event: @event, event_users: @event_users, after_party: @after_party, event_current_user: @event_current_user%>
				</div>
			</div>
			<h4>打ち上げ出席予定：<%= f.select :party_participate, ["参加", "検討中", "不参加"], {include_blank: '選択してください'} %></h4>

			<%= f.submit "上記の内容で#{@event.event_name}に参加する！", class:"btn btn-lg btn-danger btn-block" %>
		<% end %>
	</div>
</div>