<div class="container">
    <div class="row">
    	<% @events.each do |event| %>
			<div class="col-xs-3 text-center">
				<div class="event_container round_border">
					<%= link_to event_path(event.friendly_url) do %>
						<%= link_to event_path(event.friendly_url) do %>
							<div class="image_action">
								<%= attachment_image_tag event, :image, size: "200x200", format: 'jpeg', fallback: "no_image.jpg", class:"img-thumbnail" %>
							</div>
						<h4><%= event.event_name %></h4>
						<% end %>
						<%= event.date %> <%= event.meeting_time.to_s(:time) %>〜<%= event.finish_time.to_s(:time) %><br>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>