<% content_for(:html_title) { "#{@event.event_name}タイムテーブル" } %>

<div class="container">
    <div class="row">
    	<%= render 'events/event-header', event: @event, event_users: @event_users %>
    	<div class="form-header text-center">
            <h2 class="form-header-title">
            	<%= @event.event_name %>タイムテーブル</h2>
        </div>
		<div class="table-responsive">
			<table class="table table-bordered" style="table-layout:fixed;">
				<thead>
					<tr class="info">
						<th class="active" style="width:44px;">時間</th>
						<th class="active" style="width:100px;">曲名</th>
						<th class="active" style="width:100px;">アーティスト名</th>
						<% @parts.each do |part| %>
							<th class="active" style="width:80px;"><%= part.part_name %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% n = 0 %> <!-- タイムテーブル時間設定のための初期値設定 -->
					<% @musics.each do |music| %>
					<tr>
						<td>
							<div>
							<%= (@event.start_time + 600 * n ).to_s(:time) %>
							<% n = n + 1 %>
							</div>
						</td>
						<th>
							<div>
							<%= link_to "#{music.title}", event_music_path(@event.friendly_url, music.id) %>
							</div>
						</th>
						<td>
							<%= music.artist %>
						</td>
						<% @parts.each do |part| %>
							<!-- パートが不要な時 -->
							<% if @entry_tables.find_by(music_id: music, part_id: part)&.requirement_status == "不要" %>
							<td>　</td>
							<!-- エントリーステータスが必須または任意の時 -->
							<% else %>
								<!-- 楽曲にユーザーがエントリーしていない時 -->
								<% if @entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
									<td>　</td>
								<!-- 楽曲にエントリーしているユーザーが本人の時 -->
								<% elsif @entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user == current_user %>
									<td class="danger">
										<%= link_to "#{@entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(@entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
									</td>
								<!-- 楽曲にユーザーがエントリーしている時 -->
								<% else %>
									<td>
									<%= link_to "#{@entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(@entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
									</td>
								<% end %>
							<% end %>
						<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= hidden_field_tag :event_id, @event.id %>

			<div class="col-xs-12 clearfix">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4 class="panel-title">注意事項</h4>
					</div>
					<div class="panel-body">
						<h4>イベント当日に関する注意</h4>
						・セッション参加3つのルール(①怪我をしないさせない　②転換演奏込み10分　③貴重品の管理は自己責任)は全員必ず守りましょう！<br>
						・機材置き場には限りがございますので、可能な限り荷物は少なめにお願いいたします。<br>
						・最初の受付時にイベント参加費(<%= @event.performance_fee %>円 or <%= @event.visit_fee %>円)と打ち上げ参加費(<%= @event.after_party.party_fee %>円)を合わせて徴収させていただきますので事前に用意をお願いします。<br>
						・セッティング完了後の音出し厳禁！！円滑な進行のためにもご協力お願いいたします。<br>
						<br>
						<%= link_to event_party_path(@event.friendly_url), class:"btn btn-lg btn-warning pull-right" do %>
							<i class="fas fa-beer icon_custom,"></i> 打ち上げ詳細
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>