<% content_for :css do %>
    <%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<% end %>

<% content_for(:html_title) { "トップページ" } %>
<section class="clearfix" id="mv">
    <div class="container">
        <%= image_tag('LLBS_LOGO5.png', class:"mv-title") %>
    </div>
</section>
<% if @events.present? %>
<section id="current-events">
    <div class="container">
        <h2 class="heading">開催予定のイベント</h2>
        <div class="event-wrapper">
            <%= render partial: 'events/event', collection: @events %>
            <%= link_to "すべてのイベントをみる", events_path, class:"btn top-btn" %>
        </div>
    </div>
</section>
<% else %>
<% end %>
<section id="description">
    <div class="container">
        <h2 class="heading">みんなで奏でる物語</h2>
    </div>
    <div class="hero">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><%= image_tag('LLBS_image01.jpg', class:"event-image") %></div>
                <div class="swiper-slide"><%= image_tag('LLBS_image02.jpg', class:"event-image") %></div>
                <div class="swiper-slide"><%= image_tag('LLBS_image03.jpg', class:"event-image") %></div>
                <div class="swiper-slide"><%= image_tag('LLBS_image04.jpg', class:"event-image") %></div>
                <div class="swiper-slide"><%= image_tag('LLBS_image05.jpg', class:"event-image") %></div>
                <div class="swiper-slide"><%= image_tag('LLBS_image06.jpg', class:"event-image") %></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="desc-container">
            <p class="heading-text">
                憧れのアーティストのあの曲をバンドで演奏してみたい、そう思ったことはありませんか。<br>
                <br class="sp-none">
                「そもそもメンバーってどうやって集めれば？」<br>
                「わざわざ固定バンドを組むのは少し面倒・・・」<br>
                「気の合うメンバーとの出会いが欲しい！」<br>
                <br class="sp-none">
                LLBSはそんな音楽に強い想いを持った人たちの夢を叶えるお手伝いをします。
            </p>
            <%= link_to "使い方を詳しく見る", about_path, class:"btn top-btn" %>
        </div>
    </div>
</section>
<section id="question">
    <div class="container">
        <h2 class="heading">よくあるご質問</h2>
        <div class="question-container">
            <div class="question-list">
                <div class="question">
                    <i class="uil uil-question-circle"></i>
                    <span>楽器の演奏ができないのですが、参加することはできますか？</span>
                    <i class="toggleIcon uil uil-plus "></i>
                </div>
                <div class="answer d-none">
                    <p>イベントによって様々です。楽器を演奏しない見学者で登録した場合も、参加費がかかる場合があります。詳しくは、各イベントの主催者にお問い合わせください。</p>
                </div>
            </div>
            <div class="question-list">
                <div class="question">
                    <i class="uil uil-question-circle"></i>
                    <span>参加費はかかりますか？</span>
                    <i class="toggleIcon uil uil-plus "></i>
                </div>
                <div class="answer d-none">
                    <p>イベントによって様々です。楽器を演奏しない見学者で登録した場合も、参加費がかかる場合があります。詳しくは、各イベントの主催者にお問い合わせください。</p>
                </div>
            </div>
            <div class="question-list">
                <div class="question">
                    <i class="uil uil-question-circle"></i>
                    <span>楽器の演奏ができないのですが、参加することはできますか？</span>
                    <i class="toggleIcon uil uil-plus "></i>
                </div>
                <div class="answer d-none">
                    <p>イベントによって様々です。楽器を演奏しない見学者で登録した場合も、参加費がかかる場合があります。詳しくは、各イベントの主催者にお問い合わせください。</p>
                </div>
            </div>
            <div class="question-list">
                <div class="question">
                    <i class="uil uil-question-circle"></i>
                    <span>楽器の演奏ができないのですが、参加することはできますか？</span>
                    <i class="toggleIcon uil uil-plus "></i>
                </div>
                <div class="answer d-none">
                    <p>イベントによって様々です。楽器を演奏しない見学者で登録した場合も、参加費がかかる場合があります。詳しくは、各イベントの主催者にお問い合わせください。</p>
                </div>
            </div>
            <div class="question-list">
                <div class="question">
                    <i class="uil uil-question-circle"></i>
                    <span>楽器の演奏ができないのですが、参加することはできますか？</span>
                    <i class="toggleIcon uil uil-plus "></i>
                </div>
                <div class="answer d-none">
                    <p>イベントによって様々です。楽器を演奏しない見学者で登録した場合も、参加費がかかる場合があります。詳しくは、各イベントの主催者にお問い合わせください。</p>
                </div>
            </div>
            <div class="question-list">
                <div class="question">
                    <i class="uil uil-question-circle"></i>
                    <span>楽器の演奏ができないのですが、参加することはできますか？</span>
                    <i class="toggleIcon uil uil-plus "></i>
                </div>
                <div class="answer d-none">
                    <p>イベントによって様々です。楽器を演奏しない見学者で登録した場合も、参加費がかかる場合があります。詳しくは、各イベントの主催者にお問い合わせください。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sns">
    <div class="container">
        <div class="sns-group clearfix">
            <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="500" href="https://twitter.com/LLBS_log?ref_src=twsrc%5Etfw">Tweets by LLBS_log</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="500" data-theme="light" href="https://twitter.com/noel99l?ref_src=twsrc%5Etfw">Tweets by noel99l</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</section>

<% content_for :js do %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<% end %>