<% content_for(:html_title) { "トップページ" } %>
<div class="skippr-container center">
    <div id="theTarget">
        <div class="img-size" style="background-image: url(<%= asset_url 'LLBS_image1.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'LLBS_image2.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'LLBS_image3.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'LLBS_image4.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'LLBS_image5.jpg' %>)"></div>
    </div>
</div>
<div class="container">
    <div class="row">
    	<h1>LLBSへようこそ！</h1>
		<p>イベント一覧から気になるイベントを探してみてください！</p>
	</div>
</div>