<% content_for(:html_title) { "ユーザー一覧" } %>
<div class="container">
    <div class="row">
   		<h2>ユーザー一覧</h2>
		<%= will_paginate @books, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
		<table class="table" >
			<tbody>
				<tr>
					<th>ユーザー名</th>
					<th>twitter</th>
					<th>自己紹介</th>
					<th>編集リンク</th>
				</tr>
				<% @users.each do |user| %>
				<tr>
					<th><%= link_to admin_user_path(user) do %>
						<%= attachment_image_tag user, :image, size: "20x20", format: 'jpeg', fallback: "no_image.jpg" %> <%= user.name %><br>
						<% end %></th>
					<td>@<%= user.nickname %></td>
					<td><%= user.introduction %></td>
					<td><%= link_to "編集する", edit_admin_user_path(user), class:"btn btn-xs btn-warning" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @books, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
	</div>
</div>