<table class="table table-bordered" style="table-layout:fixed;">
    <tr>
        <% parts.each do |part| %>
            <th class="active" style="width:80px;"><%= part.part_name %></th>
        <% end %>
    </tr>
    <tr>
        <% parts.each do |part| %>
        <td>
            <!-- パートが不要な時 -->
            <% if entry_tables.find_by(music_id: music, part_id: part)&.requirement_status == "不要" %>
            <!-- 空欄 -->
            <!-- エントリーステータスが必須の時 -->
            <% elsif entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "必須" %>
                <!-- ユーザーがログインしている時 -->
                <% if user_signed_in? %>
                    <!-- 楽曲にユーザーがエントリーしていない時 -->
                    <% if entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
                        <!-- ユーザーがイベントに参加している時 -->
                        <% if @event_users.where(user_id: current_user.id).present? %>
                            <% if event.entry_start_time <= now && now < event.entry_finish_time %>
                                <%= link_to "エントリー", event_entry_table_path(event.friendly_url, music_id: music.id, part_id: part.id, name: "entry"), method: :patch %>
                            <% elsif event.entry_start_time > now %>
                                <a class="link" data-toggle="modal" data-target="#notentryModal">エントリー</a>
                            <% elsif now >= event.entry_finish_time %>
                                受付終了
                            <% end %>
                        <!-- ユーザーがイベントに参加していない時 -->
                        <% else %>
                            <% if event.entry_start_time <= now && now < event.entry_finish_time %>
                                <a class="link" data-toggle="modal" data-target="#attendanceModal">エントリー</a>
                            <% elsif event.entry_start_time > now %>
                                <a class="link" data-toggle="modal" data-target="#notentryModal">エントリー</a>
                            <% elsif now >= event.entry_finish_time %>
                                受付終了
                            <% end %>
                        <% end %>
                    <!-- 楽曲にユーザーがエントリーしている時 -->
                    <% else %>
                        <%= link_to "#{entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
                        <!-- 楽曲にエントリーしているユーザーが本人の時 -->
                        <% if entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user == current_user %>
                            <%= link_to event_entry_table_path(event, music_id: music, part_id: part, name: "cancel"), method: :patch, data: {confirm: "本当にエントリーを取り消してもよろしいですか？"} do %>
                                <i class="fas fa-times-circle"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                <!-- ユーザーがログインしていない時 -->
                <% else %>
                    <!-- 楽曲にユーザーがエントリーしていない時 -->
                    <% if entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
                        <% if now < event.entry_finish_time %>
                            <a class="link" data-toggle="modal" data-target="#loginModal">エントリー</a>
                        <% elsif now >= event.entry_finish_time %>
                            受付終了
                        <% end %>
                    <!-- 楽曲にユーザーがエントリーしている時 -->
                    <% else %>
                        <%= entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name %>
                    <% end %>
                <% end %>
            <!-- エントリーステータスが任意の時 -->
            <% elsif entry_tables.find_by(music_id: music.id, part_id: part.id)&.requirement_status == "任意" %>
                <% if user_signed_in? %>
                    <!-- 楽曲にユーザーがエントリーしていない時 -->
                    <% if entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
                        <!-- ユーザーがイベントに参加している時 -->
                        <% if @event_users.where(user_id: current_user.id).present? %>
                            <% if event.entry_start_time <= now && now < event.entry_finish_time %>
                                <%= link_to "(エントリー)", event_entry_table_path(event.friendly_url, music_id: music.id, part_id: part.id, name: "entry"), method: :patch %>
                            <% elsif event.entry_start_time > now %>
                                <a class="link" data-toggle="modal" data-target="#notentryModal">(エントリー)</a>
                            <% elsif now >= event.entry_finish_time %>
                                受付終了
                            <% end %>
                        <!-- ユーザーがイベントに参加していない時 -->
                        <% else %>
                            <% if event.entry_start_time <= now && now < event.entry_finish_time %>
                                <a class="link" data-toggle="modal" data-target="#attendanceModal">(エントリー)</a>
                            <% elsif event.entry_start_time > now %>
                                <a class="link" data-toggle="modal" data-target="#notentryModal">(エントリー)</a>
                            <% elsif now >= event.entry_finish_time %>
                                受付終了
                            <% end %>
                        <% end %>
                    <!-- 楽曲にユーザーがエントリーしている時 -->
                    <% else %>
                        <%= link_to "#{entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name}", user_path(entry_tables.find_by(music_id: music, part_id: part).event_user.user) %>
                        <!-- 楽曲にエントリーしているユーザーが本人の時 -->
                        <% if entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user == current_user %>
                            <%= link_to event_entry_table_path(event, music_id: music, part_id: part, name: "cancel"), method: :patch, data: {confirm: "本当にエントリーを取り消してもよろしいですか？"} do %>
                                <i class="fas fa-times-circle"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                <!-- ユーザーがログインしていない時 -->
                <% else %>
                    <!-- 楽曲にユーザーがエントリーしていない時 -->
                    <% if entry_tables.find_by(music_id: music, part_id: part)&.event_user_id == nil %>
                        <% if now < event.entry_finish_time %>
                            <a class="link" data-toggle="modal" data-target="#loginModal">(エントリー)</a>
                        <% elsif now >= event.entry_finish_time %>
                            受付終了
                        <% end %>
                    <!-- 楽曲にユーザーがエントリーしている時 -->
                    <% else %>
                        <%= entry_tables.find_by(music_id: music, part_id: part)&.event_user&.user&.name %>
                    <% end %>
                <% end %>
            <% end %>
        </td>
        <% end %>
    </tr>
</table>
<%= render 'homes/modal_signin' %>
<%= render 'entry_tables/modal_notentry', event: event %>
<%= render 'events/modal_attendance', event: event %>