<% content_for(:html_title) { "#{@music.title}" } %>
<div class="container">
    <div class="row">
        <%= render 'events/event-header', event: @event, event_users: @event_users %>
        <h2><%= @music.title %>の楽曲情報
            <% if user_signed_in? %>
                <% if @event_users.where(user_id: current_user.id).presence %>
                <%= link_to "編集する", edit_event_music_path(@music.event_id, @music.id), class: "btn btn-md btn-warning pull-right" %>
                <% end %>
                <% if @music.user_id == current_user.id %>
                    <%= link_to "削除する",event_music_path(@music.event_id, @music.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-md btn-danger pull-right" %>
                <% end %>
            <% end %>
        </h2>
        <div class="col-xs-8">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="active">アーティスト名</th>
                    <td><%= @music.artist %></td>
                </tr>
                <% if @music.music_url.presence %>
                <tr>
                    <th class="active">youtube</th>
                    <td><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @music.music_url.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                </tr>
                <% end %>
                <tr>
                    <th class="active">成立ステータス</th>
                    <td><% if @music.establishment_count == 0 %>
                            成立
                        <% elsif @music.event.finish_time < Time.current %>
                            募集終了
                        <% elsif @music.establishment_count > 0 %>
                            募集中
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <th class="active">追加日時 </th>
                    <td><%= @music.created_at.to_s(:datetime) %> by <%= link_to "#{@music.user.name}", user_path(@music.user) %></td>
                </tr>
                <tr>
                    <th class="active">備考</th>
                    <td><%= @music.remarks %></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    パート分け
                    <% if @music.lyric_id.present? %> (<%= @music.lyric.user.name %>さん作成)<% end %>
                    <% if user_signed_in? %>
                        <% if @event_users.where(user_id: current_user.id).presence %>
                            <%= link_to "歌詞登録", new_event_music_lyric_path(@event.friendly_url, @music), class:"pull-right" %>
                        <% end %>
                    <% end %>
                </div>
                <div class="panel-body">
                    <div style="width:100% ; height:410px; overflow:auto;">
                        <% if @music.lyric_id.nil? %>
                            歌詞が登録されていません
                        <% else %>
                            <%= sanitize @music.lyric.lyric, attributes:  %w(id class href) %>
                            <% if user_signed_in? %>
                                <% if @music.lyric.user_id == current_user.id %>
                                    <%= link_to "パート分けを編集する", edit_event_music_lyric_path(@event.friendly_url, @music, @music.lyric_id), class:"pull-right" %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <%= render 'musics/musicentrytable', parts: @parts, event: @event, entry_tables: @entry_tables, event_users: @event_users, music: @music, now: @now %>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">コメント<span class="h4">(<%= @music_comments.count %>件)</span></h3>
            </div>
            <div class="panel-body">
                <% if user_signed_in? %>
                    <% @music_comments.each do |music_comment| %>
                        <div class="voice-img" >
                            <%= attachment_image_tag music_comment.user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'60x60', class:"img-circle" %><br>
                            <div class="voice-img-description">
                                <%= link_to "#{music_comment.user.name}", user_path(music_comment.user_id) %>
                            </div>
                        </div>
                        <div class="voice">
                            <div class="voice-text">
                               <%= music_comment.comment %><br>
                            </div>
                            <div class="comment-datetime">
                                <% if music_comment.user == current_user %>
                                    <%= link_to "削除", event_music_music_comment_path(@event,@music,music_comment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
                                <% end %>
                                <%= music_comment.created_at.to_s(:datetime) %>
                            </div>
                        </div>
                        <!-- AI機能実装 -->
                        <span class="comment-score"><% music_comment&.score %></span>
                        <!-- AI機能実装終了 -->
                    	<br>
                    <% end %>
                    <% if @event_users.where(user_id: current_user.id).presence %>
                        <%= form_for [@event, @music, @music_comment] do |f| %>
                        <%= render 'layouts/error_messages', model: f.object %>
                            <div class="row">
                                <div class="col-sm-12">
                                    <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
                                </div>
                            </div>
                            <%= f.submit "送信する", class: "btn btn-lg btn-primary pull-right" %>
                        <% end %>
                    <% end %>
                <% else %>
                    ※コメントの閲覧はログイン後に行うことができます。
                <% end %>
            </div>
        </div>
    </div>
</div>