<% content_for(:html_title) { "#{@music.title}" } %>
<div class="container">
    <div class="row">
        <%= render 'events/event-header', event: @event, event_users: @event_users %>
        <h2><%= @music.title %>の楽曲情報
            <% if user_signed_in? %>
                <% if @event_users.where(user_id: current_user.id).presence %>
                <%= link_to "編集する", edit_event_music_path(@music.event_id, @music.id), class: "btn btn-md btn-warning pull-right" %>
                <% end %>
                <% if @music.user_id == current_user.id %>
                    <%= link_to "削除する",event_music_path(@music.event_id, @music.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-md btn-danger pull-right" %>
                <% end %>
            <% end %>
        </h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="active">アーティスト名</th>
                    <td><%= @music.artist %></td>
                </tr>
                <% if @music.music_url.presence %>
                <tr>
                    <th class="active">youtube</th>
                    <td><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @music.music_url.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                        <%= link_to "#{@music.music_url}", @music.music_url %>

                    </td>
                </tr>
                <% end %>
                <tr>
                    <th class="active">成立ステータス</th>
                    <td><%= @music.establishment_status %></td>
                </tr>
                <tr>
                    <th class="active">追加日時 </th>
                    <td><%= @music.created_at.to_s(:datetime) %> by <%= link_to "#{@music.user.name}", user_path(@music.user) %></td>
                </tr>
                <tr>
                    <th class="active">備考</th>
                    <td><%= @music.remarks %></td>
                </tr>
            </tbody>
        </table>

        <%= render 'musics/musicentrytable', parts: @parts, event: @event, entry_tables: @entry_tables, event_users: @event_users, music: @music, now: @now %>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">コメント<span class="h4">(<%= @music_comments.count %>件)</span></h3>
            </div>
            <div class="panel-body">
                <% if user_signed_in? %>
                    <% @music_comments.each do |music_comment| %>
                    	<%= link_to user_path(music_comment.user_id) do %>
                            <%= music_comment.user.name %><% end %>　<%= music_comment.created_at.to_s(:datetime) %>
                    		<% if music_comment.user == current_user %>
        		            	<%= link_to "削除", event_music_music_comment_path(@event,@music,music_comment), method: :delete, class: "btn-sm btn-xs btn-danger", data: {confirm: "本当に削除してもよろしいですか？"} %>
                            <% end %><br>
                    	<%= music_comment.comment %><br>


                        <!-- AI機能実装 -->
                        <span class="comment-score"><% music_comment&.score %></span>
                        <!-- AI機能実装終了 -->

                    	<br>
                    <% end %>
                    <% if @event_users.where(user_id: current_user.id).presence %>
                        <%= form_for [@event, @music, @music_comment] do |f| %>
                        <%= render 'layouts/error_messages', model: f.object %>
                            <div class="row">
                                <div class="col-sm-12">
                                    <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
                                </div>
                            </div>
                            <%= f.submit "送信する", class: "btn btn-lg btn-primary pull-right" %>
                        <% end %>
                    <% end %>
                <% else %>
                    ※コメントの閲覧はログイン後に行うことができます。
                <% end %>
            </div>
        </div>
    </div>
</div>