<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for?(:html_title) ? "LLBS | #{yield(:html_title)}" : "LLBS" %></title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'sns', media: 'all', 'data-turbolinks-track' => true %>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.11/css/unicons.css">
        <!-- CSS読み込み開始 -->
        <%= yield :css %>
        <!-- CSS読み込み終了 -->

        <script src="https://kit.fontawesome.com/83beaa6ece.js" crossorigin="anonymous"></script>
        <script data-ad-client="ca-pub-8197195503994621" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>

    <body class="wf-notosansjapanese">
        <div class="wrapper">
            <%= render 'layouts/header' %>
            <%= render 'layouts/flash_messages' %>

            <div class="main-content">
                <%= yield %>
            </div>

            <%= render 'layouts/footer' %>
        </div>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- JS読み込み開始 -->
        <%= yield :js %>
        <!-- JS読み込み終了 -->
    </body>
</html>
