<!DOCTYPE html>
<html>
  <head>
    <title>LLBS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<body class="wf-notosansjapanese">
    <header class="navbar header">
        <div class="container">
            <div class="row">
                <% if user_signed_in? %>
                    <h3 class="navbar-left">
                        <%= link_to image_tag("LLBS_LOGO5.png",:size=>"212x50", :alt=>"LOGO"), root_path %>
                    </h3>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <%= link_to "マイページ", user_path(current_user.id) %>
                            <span class="user-name">
                                <strong>
                                    <%= current_user.name %>さん
                                </strong>
                            </span>
                        </li>
                        <li><%= link_to "イベント一覧", events_path %></li>
                        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                    </ul>
                <% elsif admin_signed_in? %>
                    <h3 class="navbar-left"><br>
                        <%= link_to"LLBS管理者", admin_root_path %>
                    </h3>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "イベント一覧", admin_events_path %></li>
                        <li><%= link_to "ユーザー一覧", admin_users_path %></li>
                        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
                    </ul>
                <% else %>
                    <h3 class="navbar-left"><br>
                        <%= link_to image_tag("LLBS_LOGO5.png",:size=>"212x50", :alt=>"LOGO"), root_path %>
                    </h3>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "新規登録", new_user_registration_path %></li>
                        <li><%= link_to "イベント一覧", events_path %></li>
                        <li><%= link_to "ログイン", new_user_session_path %></li>
                    </li>
                <% end %>
            </div>
        </div>
    </header>
    <div class = container >
        <div class="row">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
                <%= message %>
            </div>
        <% end %>
        <div class="row">
    </div>
    <div class = container >
        <div class="row">
            <%= yield %>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="footer-text">© All rights reserved by noel99l</p>
        </div>
    </footer>
</body>
</html>
